#multiple_products {
  display: flex;
  flex-direction: column;
}

.products-list-container {
  display: flex;
  width: 75%;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5% 2%;
}

.description-container {
  width: 90%;
  margin: 0 auto;
}

.products-list-container img {
  width: 30%;
  height: fit-content;
  margin: 5%;
}

.dropbox-container,
.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.crafts-person-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.crafts-person-container img {
  width: 20%;
  align-self: flex-end;
}
